@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;   
      
}

.img_container{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img_container img {
    max-width: 100%;
    height: auto;
}

.container_cifrao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: #0099DD;
    width: 300px;
    border-radius: 10px;
}

.container_cifrao img{
    width: 300px;
    height: 200px;
    
}