@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header {
    display: flex;
    justify-content: center;  
    width: 100%;
    padding: 20px;
    
      
}

.img_container{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_container img {
    max-width: 100%;
    height: auto;
}

body .body_index{
    overflow-x: hidden;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.container_money{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0099DD;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 60px;
    padding: 10px;
    position: relative;
    transition: all 0.3s ease;
   
}

.container_money img{
    margin: 20px;
    padding: 15px;
    width: 200px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(100%);
    
}

.container_money:hover{
    background-color:  #FFA33F;
    scale: 125%;
}

.container_stock:hover{
    scale: 125%;
    background-color: #FFA33F;
}

.container_user:hover{
    background-color: #FFA33F;
    scale: 125%;
}

figcaption {
    margin-left: 30px;
    margin-top: 10px; 
    font-size: 40px;
    font-weight: bolder;
    color: #0376C4;
    position: absolute;
    bottom: -55px; 
    width: 100%;
}


.container_stock{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0099DD;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    position: relative;
    transition: all 0.3s ease;

}

.container_stock img {
    margin: 10px;
    width: 250px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(100%);
}

.container_user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0099DD;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    margin-right: 50px;
    padding: 10px;
    position: relative;
    transition: all 0.3s ease;
}

.container_user img {
    margin: 5fpx;
    padding: 5px;
    width: 250px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(100%);

}


