@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;  
    width: 100%;
    padding: 20px;
    
      
}

.img_container{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img_container img {
    max-width: 100%;
    height: auto;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container_money{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0099DD;
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    
}

.container_money img{
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(100%);
    
}

.container_stock{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0099DD;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 300px;

}

.container_stock img {
    width: 250px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(100%);
}

.container_user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0099DD;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.container_user img {
    width: 250px;
    height: auto;
    filter: brightness(0) saturate(100%) invert(100%);

}